*{
    margin:0;
    padding:0;
}
body{
    background: #f2f2f2;
}
h1{
    width:95%;
    color:#000;
    margin-top:0.3rem;
    font-weight: bold;
    font-size:0.3rem;
    padding-left:2%;
}
div.list_one,div.list_two {
    width:100%;
    height:auto;
    overflow: hidden;
}
div.list_one label{
    width:100%;
    height:auto;
    display: block;
    margin-top:0.2rem;
    background:#FEFEFE;
    position:relative;
}
div.list_one label span{
    font-size:0.3rem;
    font-family: -apple-system-font,Helvetica Neue,sans-serif;
    color:#333;
    padding-left:0.2rem;
    display: block;
    width:100%;
    height:0.8rem;
    float:left;
    font-weight: bold;
    line-height:0.8rem;
}
div.list_one label input{
    font-size:0.3rem;
    font-family: -apple-system-font,Helvetica Neue,sans-serif;
    color:#333;
    padding-left:0.2rem;
    display: block;
    width:100%;
    height:0.8rem;
    float:left;
    font-weight: bold;
    line-height:0.8rem;
    border: none;
}

div.list_two label{
    font-size:0.3rem;
    font-family: -apple-system-font,Helvetica Neue,sans-serif;
    color:#333;
    width:100%;
    height:0.8rem;
    display: block;
    margin-top:0.2rem;
    border-bottom:1px solid #ccc;
    background:#FEFEFE;
    position:relative;
}
div.list_two label span{
    font-size:0.3rem;
    font-family: -apple-system-font,Helvetica Neue,sans-serif;
    color:#333;
    padding-left:0.2rem;
    display: block;
    width:70%;
    height:0.8rem;
    position:absolute;
    top:0;
    left:0;
    font-weight: bold;
    line-height:0.8rem;
}
div.list_two label select{
    font-size:0.3rem;
    font-family: -apple-system-font,Helvetica Neue,sans-serif;
    color:#333;
    width:22%;
    height:0.8rem;
    float:left;
    border:none;
    background:#FEFEFE;
    position:absolute;
    top:0;
    right:0;
    border-bottom:1px solid #ccc;
}

.button{
    width:90%;
    height:0.8rem;
    background:#e96c68;
    border-radius:8px;
    margin:0.5rem 5%;
    line-height:0.8rem;
    text-align: center;
    border:none;
    color:#fff;
    font-size:0.3rem;
}

