<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<title>设置</title>
	<link href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../addons/lwx_helloting/template/mobile/public/css/style.min.css">
	
<link rel="stylesheet" href="../addons/lwx_helloting/template/mobile/public/css/set.min.css">

</head>
<body>
	<!-- head layout -->
	

	
  <div class="ih-box ih-box__set">
    <div class="ih-boxs__title">旧密码</div>
    <div class="ih-boxs">
      <input class="weui-input ih-input" type="password" placeholder="若包含字母，请注意区分大小写">
    </div>
    <div class="ih-boxs__title">新密码</div>
    <div class="ih-boxs">
      <input class="weui-input ih-input js-newpass01" type="password" placeholder="8-16位，至少含数字/字母/字符/两种组合">
    </div>
    <div class="ih-boxs__title">确认新密码</div>
    <div class="ih-boxs">
      <input class="weui-input ih-input js-newpass02" type="password" placeholder="8-16位，至少含数字/字母/字符/两种组合">
    </div>
  </div>
  <div class="ih-btn__box">
    <div class="ih-btn ih-btn__e96c68">
      确定
    </div>
    <div class="ih-radio">
      显示密码
    </div>
  </div>


	
    <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="https://cdn.bootcss.com/touchjs/0.2.14/touch.min.js"></script>
	<script src="../addons/lwx_helloting/template/mobile/public/js/common.js"></script>

	
<script>
  ;(function($) {
    $(".ih-radio").on("tap", function() {
      var _self = $(this);
      if (_self.hasClass("active")) {
        _self.removeClass("active");
        $(".ih-input").attr("type", "password");
      } else {
        _self.addClass("active");
        $(".ih-input").attr("type", "text");
      }
    });


    $(".ih-btn").on("tap", function() {
      var np01 = $.trim($(".js-newpass01").val());
      var np02 =$.trim($(".js-newpass02").val());
      if (np01 == "") {
        console.log("np01");
        return false;
      }

      if (np02 == "") {
        console.log("np02");
        return false;
      }
      if (np01 == np02) {
        console.log(1);
      } else {
        console.log(0);
      }
    });
  })(Zepto)
</script>

</body>
</html>
